<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcHibernateDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcHibernateDemo.war">
      <element id="artifact" artifact-name="SpringMvcHibernateDemo:war exploded" />
    </root>
  </artifact>
</component>